/* SELETTORI TAG */
body{
    font-family: 'Roboto', sans-serif;
}
a{
   color: #207cfe; 
   font-weight: 600;
}
/* NAVBAR */
.ms-navbar{
    padding: 20px 0;
}
.logo{
    width: 150px;
    height: auto;
}
.ms-ul{
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 0;
}
.ms-navbar a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
a.ms-border-btn  { 
    color: #529aff;
}

/* SECTION */
section{
    padding: 50px 0px;
    color: #031c4e;
}
.ms-panel-heading{
    text-align: center;
    font-size: 2rem;
}
strong{
    color: #006aff;
}
/* HERO */
.hero{
    background-image: url(img/bg-banner-home.jpg);
    background-size: cover;
}
.hero h1{
    color: white;
    font-weight: 700;
}
.hero p{
    font-weight: 400;
    color: #baccff;
}
/* CUSTOMER SECTION */
.customers-section{
    
}
.customers-header{
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    color: grey;
}
.customers-section .img-container{
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    height: 120px;
}
/* PANEL */
.panel-default>.ms-panel-heading {
    color: #031c4e;
    background-color:white;
    border: transparent;
}
.ms-panel-heading h2{
    font-size: 25px;
    font-weight: 700;
    color: #031c4e;
}
.ms-panel{
    border: transparent;
    box-shadow: none;
}
/* BUTTONS */
.ms-btn{
    box-shadow: gray;
}
.ms-blue-btn{
    background-color: #006aff;
    color: white;
}
.ms-google-btn{
    font-weight: 600;
    color: gray;
    background-color: white;
    box-shadow: 2px 2px 5px #b8b8b8;
}
.ms-border-btn{
    padding: 10px;
    border: 2px solid #529aff;
    border-radius: 5px;
}
.google-icon{
    position: absolute;
    left: 0;
    transform: translate(45px,0px);
    width: 20px;
}

/* CUSTOMERS */
.docker{
    background-image: url(img/docker.svg);
}
.gitlab{
    background-image: url(img/gitlab.svg);
}
.slack{
    background-image: url(img/slack.svg);
}
.hashicorp{
    background-image: url(img/hashicorp.svg);
}
.wework{
    background-image: url(img/wework.svg);
}
.splunk{
    background-image: url(img/splunk.svg);    
}
/* MEDIA QUERY XS */
@media screen and (max-width:768px){
    .customers-section .img-container{
        height: 100px;
    }
    .customers-header{
        font-size: 12px;
    }
}
/* utilities */
.heading-2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #031c4e;
}
.ms-big-p{
    font-weight: 500;
    font-size: 17px;
    color: gray;
}
.green-bg{
    background-color: #f3f5f9;
}
.heading-4{
    font-size: 17px;
    font-weight: 700;
}